@model ProsNCats.Models.Product
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Products and Categories</title>
</head>
<body>
    <div class="container-fluid mx-auto mt-5">
        <div class="container mx-auto mt-5">
            <a href="/products">Products</a> | <a href="/categories">Categories</a>
        </div>
        <div class="container row mt-5 mx-auto">
            <div class="container col-6">
                <h3>New Product</h3>
                <form asp-action="CreateProduct" asp-controller="Home" method="post" class="form-group mt-5">
                    <span class="text-danger" asp-validation-for="Name"></span>
                    <input class="form-control mt-3" type="text" asp-for="Name" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Description"></span>
                    <input class="form-control mt-3" type="text" asp-for="Description" placeholder="Description">
                    <span class="text-danger" asp-validation-for="Price"></span>
                    <input class="form-control mt-3" type="decimal" asp-for="Price" placeholder="Price">
                    <button type="submit" class="btn btn-info mt-5">Create</button>
                </form>            
            </div>
            <div class="container col-5">
                <h3>Existing Products</h3>
                <div class="mt-4">
                @{
                    foreach (var item in @ViewBag.ProductList) 
                    {
                        <p>
                            <a asp-controller="Home" 
                              asp-action="Detail"
                              asp-route-productId="@item.ProductId">
                                @item.Name
                            </a>
                        </p>
                    }
                }
                </div>
            </div>
        </div>
    </div>
</body>
</html> 